swagger: '2.0'
info:
  version: 1.0.0
  title: Radian CUWB  API
  description: Open API Specifications for Radian's CUWB
  contact:
    email: cuwb_admin@radian.com
  license:
    name: cuwb-api-0.0.1
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: www.radian.com
basePath: /cuwb/rs/v1
tags:
  - name: Invoice
    description: Invoice Operations
schemes:
  - https
  - http
paths:
  /Invoice/getInvoiceByNumber:
    post:
      tags:
        - Invoice
      summary: Get Invoices by Search Criteria
      description: getInvoiceByNumber
      operationId: getInvoiceByNumber
      produces:
      - "application/json"
      parameters:
      - name: requestId
        format: uuid
        pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
        in: header
        description: Request Id
        required: true
        type: string
      - name: authToken
        in: header
        description: Autorization Token
        required: false
        type: string
      - name: timeStamp
        in: header
        description: Time date Unix Format
        required: true
        type: integer
      - name: body
        in: body
        description: Auth object
        required: true
        schema:
            $ref: '#/definitions/InvoiceSearch'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Invoice'
        '400':
          description: Invalid  Data
          schema:
            $ref: '#/definitions/Response'
  /Invoice/getInvoiceByPymtItem:
    post:
      tags:
        - Invoice
      summary: Get Invoices by Payment Item
      description: getInvoiceByPymtItem
      operationId: getInvoiceByPymtItem
      produces:
      - "application/json"
      parameters:
      - name: requestId
        format: uuid
        pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
        in: header
        description: Request Id
        required: true
        type: string
      - name: authToken
        in: header
        description: Autorization Token
        required: false
        type: string
      - name: timeStamp
        in: header
        description: Time date Unix Format
        required: true
        type: integer
      - name: body
        in: body
        description: Auth object
        required: true
        schema:
            $ref: '#/definitions/InvoiceSearchByPymtReq'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/InvoiceSearchByPymtResult'
        '400':
          description: Invalid  Data
          schema:
            $ref: '#/definitions/Response'
  /Invoice/getInvoiceTransmissionByInvoiceId:
    post:
      tags:
        - Invoice
      summary: Get Invoices Transmission by Invoice Id
      description: getInvoiceTransmissionByInvoiceId
      operationId: getInvoiceTransmissionByInvoiceId
      produces:
        - "application/json"
      parameters:
        - name: requestId
          format: uuid
          pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
          in: header
          description: Request Id
          required: true
          type: string
        - name: authToken
          in: header
          description: Autorization Token
          required: false
          type: string
        - name: timeStamp
          in: header
          description: Time date Unix Format
          required: true
          type: integer
        - name: body
          in: body
          description: Auth object
          required: true
          schema:
            $ref: '#/definitions/InvoiceTransmissionReq'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            additionalProperties:
              type: object
              properties:
                code:
                  type: string
                text:
                  type: object
        '400':
          description: Invalid  Data
          schema:
            $ref: '#/definitions/Response'
  /Invoice/getInvoiceTransactionByInvoiceId:
    post:
      tags:
        - Invoice
      summary: Get Invoices Transaction by Invoice Id
      description: getInvoiceTransactionByInvoiceId
      operationId: getInvoiceTransactionByInvoiceId
      produces:
        - "application/json"
      parameters:
        - name: requestId
          format: uuid
          pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
          in: header
          description: Request Id
          required: true
          type: string
        - name: authToken
          in: header
          description: Autorization Token
          required: false
          type: string
        - name: timeStamp
          in: header
          description: Time date Unix Format
          required: true
          type: integer
        - name: body
          in: body
          description: Auth object
          required: true
          schema:
            $ref: '#/definitions/InvoiceTransactionReq'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            additionalProperties:
              type: object
              properties:
                code:
                  type: string
                text:
                  type: object
        '400':
          description: Invalid  Data
          schema:
            $ref: '#/definitions/Response'
  /Invoice/getInvoiceSearchByProfileId:
    post:
      tags:
        - Invoice
      summary: Get Invoices Search By Profile Id
      description: getInvoiceSearchByProfileId
      operationId: getInvoiceSearchByProfileId
      produces:
        - "application/json"
      parameters:
        - name: requestId
          format: uuid
          pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
          in: header
          description: Request Id
          required: true
          type: string
        - name: authToken
          in: header
          description: Autorization Token
          required: false
          type: string
        - name: timeStamp
          in: header
          description: Time date Unix Format
          required: true
          type: integer
        - name: body
          in: body
          description: Auth object
          required: true
          schema:
            $ref: '#/definitions/BillingProfileSummaryReq'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            additionalProperties:
              type: object
              properties:
                code:
                  type: string
                text:
                  type: object
        '400':
          description: Invalid  Data
          schema:
            $ref: '#/definitions/Response'
  /Invoice/getInvoiceDetailsByInvoiceId:
    post:
      tags:
        - Invoice
      summary: Get InvoiceDetails Search By Invoice Id
      description: getInvoiceDetailsByInvoiceId
      operationId: getInvoiceDetailsByInvoiceId
      produces:
        - "application/json"
      parameters:
        - name: requestId
          format: uuid
          pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
          in: header
          description: Request Id
          required: true
          type: string
        - name: authToken
          in: header
          description: Autorization Token
          required: false
          type: string
        - name: timeStamp
          in: header
          description: Time date Unix Format
          required: true
          type: integer
        - name: body
          in: body
          description: Auth object
          required: true
          schema:
            $ref: '#/definitions/InvoiceDetailReq'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            additionalProperties:
              type: object
              properties:
                code:
                  type: string
                text:
                  type: object
        '400':
          description: Invalid  Data
          schema:
            $ref: '#/definitions/Response'
definitions:
  InvoiceDetailReq:
    type: object
    properties:
      invoiceId:
        type: integer
        format: int64
        description: invoice Id
  InvoiceSearch:
    type: object
    required:
    - searchBy
    properties:
      finalizedInd:
        type: string
        description: Finalized Indicator
      CuWInvoiceNumber:
        type: string
        description: Invoice Number
      keyWord:
        type: string
        description: Invoice Number
      invoiceId:
        type: number
        description: Invoice ID
      customerName:
        type: string
        description: Customer Name
      billToName: 
        type: string
        description: Bill To Nam
      billingProfileDisplayID:
        type: string
        description: Billing Profile Display Id
      invoiceEndDate:
        type: string
        description: Invoice end Date
      invoiceBeginDate: 
        type: string
        description: Invoice Start Date
      invoiceAmountHigh:
        type: number
        description: Amount High Value
      invoiceAmountLow:
        type: number
        description: Amount Low Value start Date       
  Response:
    type: object
    properties:
      requestId:
        type: number
        format: uuid
        pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
      status:
        type: string
        description: Possible Values 'SUCCESS' or 'FAIL'
      statusCode:
        type: string
        description: 0 for Success and Non Zero for failure
      description:
        type: string      
  Invoice:
    type: object
    properties:
      BILL_PROF_NUM:
        type: string
      INVOICE_ID:
        type: number
      INVOICE_NUM:
        type: string
      INVOICE_DT:
        type: string
      INVOICE_STATUS_CD_ID:
        type: number
      INVOICE_REVISION_STATUS_CD_ID:
        type: number
      TOTAL_INVOICE_AMT:
        type: number
      TOTAL_ADJ_AMT:
        type: number
      TOTAL_PAYMENT_AMT:
        type: number
      CREATION_USER_NAM:
        type: string
      START_DT:
        type: string
      END_DT:
        type: string
      INCL_DETAIL_ON_BILL_IND:
        type: number
      INVOICE_DELIVERY_METHOD_CD:
        type: string
      CUSTOMER_NUM:
        type: string
      CUSTOMER_NAM:
        type: string
      BILL_TO_INVOICE_NAME:
        type: string
      ATTENTION_NAME:
        type: string
      CITY:
        type: string
      STATE_CD_ID:
        type: string
      STREET_ADRESS1:
        type: string
      STREET_ADRESS2:
        type: string
      STREET_ADRESS3:
        type: string
      POSTAL_CD:
        type: string
      POSTAL_CD_PLUS4:
        type: string
      PRELOADED_IND:
        type: number
      TRANS_INCL_DETAIL_ON_BILL_IND:
        type: number
      FINALIZED_IND:
        type: number
  InvoiceSearchByPymtReq:
    type: object
    properties:
      checkReferenceNumberFlag:
        type: string
        description: Check Reference Number Flag
      checkReferenceNumber:
        type: string
        description: Check Reference Number
      keyWord:
        type: string
        description: Check Reference Number
      depositIDFlag:
        type: string
        description: Deposit I D Flag
      depositID:
        type: string
        description: Deposit I D
      billingProfileDisplayIDFlag:
        type: string
        description: Billing Profile Display I D Flag
      billingProfileDisplayID:
        type: string
        description: Billing Profile Display I D
      depositBeginDateFlag:
        type: string
        description: Deposit Begin Date Flag
      depositBeginDate:
        type: string
        description: Deposit Begin Date
      depositEndDateFlag:
        type: string
        description: Deposit End Date Flag
      depositEndDate:
        type: string
        description: Deposit End Date
      transactionBeginDateFlag:
        type: string
        description: Transaction Begin Date Flag
      transactionBeginDate:
        type: string
        description: Transaction Begin Date
      transactionEndDateFlag:
        type: string
        description: Transaction End Date Flag
      transactionEndDate:
        type: string
        description: Transaction End Date
      paymentAmountLowFlag:
        type: string
        description: Payment Amount Low Flag
      paymentAmountLow:
        type: number
        description: Payment Amount Low
      paymentAmountHighFlag:
        type: string
        description: Payment Amount High Flag
      paymentAmountHigh:
        type: number
        description: Payment Amount High
        
  InvoiceSearchByPymtResult:
    type: object
    properties:
      AR_INBOUND_TRX_ID:
        type: string
        description: AR inbound Transaction Id
      INVOICE_ID:
        type: string
        description: Invoice Id
      AR_INBOUND_TRANS_TYPE_CD_ID:
        type: string
        description: Transaction Type Code Id
      TRANS_DT:
        type: string
        description: Transaction Date
      DEPOSIT_DT:
        type: string
        description: Deposit Date
      DEPOSIT_IDENTIFIER:
        type: string
        description: Deposit Identifier
      REFERENCE_NUM:
        type: string
        description: Reference Number
      TRANS_AMT:
        type: number
        description: Transaction Amount
      BILL_TO_INVOICE_NAME:
        type: string
        description:  Invoice Name
      BILL_PROF_NUM:
        type: string
        description: Bill prof Number
      CREATED_BY:
        type: string
        description: Created By
      APPLIED_TO:
        type: string
        description: Applied To
      CREATION_USER_NAM:
        type: string
        description: Created User name
      CREATION_DT:
        type: string
        description: Creation Date
      LAST_UPDATE_USER_NAM:
        type: string
        description: Last Update User Name
      LAST_UPDATE_DT:
        type: string
        description: Last Update Date
  InvoiceTransmissionReq:
    type: object
    properties:
      invoiceId:
        type: integer
        format: int64
        description: Invoice Id
  InvoiceTransmission:
    type: object
    properties:
      INVOICE_TRANSMISSION_ID:
        type: string
      invoice:
        $ref: '#/definitions/Invoice'
      INVOICE_DELIVERY_METHOD_CD:
        type: string
      ATTENTION_NAME:
        type: string
      TRACKING_NUM:
        type: string
      INCL_DETAIL_ON_BILL_IND:
        type: boolean
      BILL_TO_INVOICE_NAME:
        type: string
      INVOICE_REVISION_STATUS_CD_ID:
        type: integer
        format: int64
      CREATION_USER_NAM:
        type: string
      invoiceEmails:
        type: array
        items:
          $ref: '#/definitions/InvoiceEmail'
  InvoiceEmail:
    type: object
    properties:
      CB_INVOICE_EMAIL_ID:
        type: string
      INVOICE_TRANSMISSION_ID:
        type: string
      EMAIL_ADDRESS:
        type: string
  InvoiceTransactionReq:
    type: object
    properties:
      invoiceId:
        type: integer
        format: int64
        description: Invoice Id
  ARTrx:
    type: object
    properties:
      AR_INBOUND_TRX_ID:
        type: string
      DEPOSIT_IDENTIFIER:
        type: string
      REFERENCE_NUM:
        type: string
      DEPOSIT_DT:
        type: string
        format: date
      TRANS_DT:
        type: string
        format: date
      AR_INBOUND_TRANS_TYPE_CD_ID:
        type: integer
        format: int64
      TRANS_AMT:
        type: number
      CREATION_DT:
        type: string
        format: date
      LAST_UPDATE_DT:
        type: string
        format: date
      invoice:
        $ref: '#/definitions/InvoiceDetail'
  InvoiceDetail:
    type: object
    properties:
      INVOICE_ID:
        type: integer
        format: int64
      ORIGINAL_INVOICE_ID:
        type: string
      BILL_PROF_NUM:
        type: string
      INVOICE_DELIVERY_METHOD_CD:
        type: string
      TOTAL_INVOICE_AMT:
        type: number
      TOTAL_PAYMENT_AMT:
        type: number
      TOTAL_ADJ_AMT:
          type: number
      TOTAL_OUTSTANDING_AMT:
        type: number
      PREVIOUS_BALANCE_AMT:
        type: number
      TOTAL_PAYMENT_DUE_AMT:
          type: number
      INVOICE_REVISION_SEQ_NUM:
        type: integer
      INVOICE_STATUS_CD_ID:
        type: integer
        format: int64
      INVOICE_REVISION_STATUS_CD_ID:
        type: integer
        format: int64
      INVOICE_DT:
        type: string
        format: date
      INVOICE_DUE_DT:
        type: string
        format: date
      CREATION_DT:
        type: string
        format: date
      INVOICE_SENT_DT:
        type: string
        format: date
      INVOICE_NUM:
        type: string
      PRELOADED_IND:
        type: boolean
      BILL_TO_STREET_ADRESS1:
        type: string
      BILL_TO_STREET_ADRESS2:
        type: string
      BILL_TO_STREET_ADRESS3:
        type: string
      BILL_TO_CITY:
        type: string
      BILL_TO_STATE_CD:
        type: string
      BILL_TO_POSTAL_CD:
        type: string
      BILL_TO_POSTAL_CD_PLUS4:
        type: string
      CUSTOMER_NUM:
        type: string
      CUSTOMER_NAM:
        type: string
      BILL_TO_INVOICE_NAME:
        type: string
      BILL_TO_ATTENTION_NAME:
        type: string
      BILL_TO_PHONE:
        type: string
      BILL_TO_PHONE_EXT:
        type: string
      NOTES:
        type: string
      INCL_CSV_IND:
        type: boolean
  BillingProfileSummaryReq:
    type: object
    properties:
      billingProfileNumber:
        type: string
        description: billing profile number
      customerName:
        type: string
        description: customer name
      customerNumber:
        type: string
        description: customer number
      billToName:
        type: string
        description: billing name
      billingProfileStatus:
        type: string
        description: billing profile status
      lagDays:
        type: string
        description: lay days